* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: "poppins";
}
html{
  margin: auto;
  max-width: 1440px;
  font-size: 10px;
  background-color:#D8CCA3;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #553939;
  border-radius: 10px;
}
 /*nav*/
 nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 14rem;
    color: #553939;
    border-bottom: 1px solid #000000;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    background-color:#EDDFB3 ;
    height: 87px;
    background-image: url(umbrella.png);
    background-attachment: scroll;
    background-size: 95px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  nav .nav-brand2 {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 0px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #553939;
  }
  span{
    color: red;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  nav .nav-section2 {
    display: flex;
    align-items: center;
  }
  nav .nav-section2 ul {
    list-style: none;
  }
  
  nav .nav-section2 ul li {
    display: inline-block;
    margin-left: 2rem;
  }
  
  nav .nav-section2 ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    font-weight: bold;
    text-transform: capitalize;
  }
  nav .nav-brand2:hover,
  nav .nav-section2:hover {
    color: #8e6c6c;
    transition: 0.3s;
  }
  /*akir nav*/
.sosmed h2{
    color: black;
    font-size: 80px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}
span{
    color: red;
   
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 355px;
    padding: 20px 35px;
    background: #D8CCA3;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid black;

}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: black;
}

.card h5{
    color: black;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
}
.pra p a{
    background-color: #D8CCA3;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.pra p a :hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    zoom: 5px;
}
